/*================================================
					  General
================================================*/

@import url("reset.css");

:root {
	/* surface colours */
	--background: #000000;
	--background_dark: #1D1D1D;

	--surface: #FBF1DA;
	--surface_variant: #eee5cf;
	--surface_variant_dark: #F7E9CB;

	--surface_dark: #2E2E2E;
	--surface_dark_variant: #353535;
	--surface_dark_variant_dark: #252525;

	--primary: #f8f2e1;
	--primary_variant:#e5dfd0;
	--primary_variant_light: #faf4e6;
	--primary_variant_dark: #E6DDC5;

	--primary_dark: #3E3E3E;
	--primary_dark_variant: #373737;

	--highlight_dark:#6B5F50;
	--highlight_light: #FFE893;

	--bubble_selection: rgba(84, 84, 84, 0.5);
	--error: #C2571B;
	--error_light: #cf5f1f;
	--error_dark: #DD8A5B;
	--delete_pastel: #d95c5c;
	--add_light: #aad67d;
	--add: #a0ca76;
	--add_dark: #84a861;
	--editing: #3e68ff8d;
	--editing_opaque: #3e68ff;
	--editing_opaque_dark: #3557d1;
	--editing_opaque_light: #5d80ff;
	--editing_outline: #263e97;
	--editing_outline_light: #3c53aa;
	--editing_outline_dark: #203377;
	--delete: rgba(186,43,69,1);
	--delete_light: rgb(207, 47, 76);
	--save: #5e8735;
	--save_light: #679638;
	--revert_light: #c6e8e8;;
	--revert: #bedcdc;
	--revert_dark: #accfcf;

	/* text colours */
	--text_loc_name: #33ff33;
	--text_link: rgba(138,90,68,1);
	--text_on_primary: black;
	--text_on_secondary: white;
	--text_tertiary: rgba(255, 255, 255, 0.5);
	--text_low_emphasis: #474747;

	/* misc colours */
	--divider: rgba(164, 163, 163, 0.30);
	--shadow: rgba(0, 0, 0, 0.35);
	--secondary: #8a5a44;
	--secondary_light: #9c684f;
	--secondary_variant: #A69480;
	--secondary_variant_light: #bda993;
	--secondary_variant_dark: #8b7d6d;
  	--selection: rgba(121, 80, 60, 0.234);
	--selection_variant: #8b7d6d61;
}

/*================================================
					Dimensions
================================================*/

:root {
	/* heights, widths, and volume */
	--appbar_dimen: 48px;
	--layer_widget_dimen: 64px;
	--side_panel_width: 380px;
	--zindex_floating: 800;
	--zindex_overlay: 9998;

	/* padding */
	--padding_minimum: 8px;
	--padding_small: 12px;
	--padding_medium: 16px;
	--padding_large: 32px;

	/* border radius */
	--radius_minimum: 2px;
	--radius_tiny: 4px;
	--radius_small: 8px;
	--radius_medium: 12px;
	--radius_large: 16px;
	--radius_largest: 32px;
	--radius_button: var(--appbar_dimen);
	--radius_circle: 50%;
}

/*================================================
					  Fonts
================================================*/

body {
	line-height: 1.5;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
	font-weight: normal;
	color: rgba(0, 0, 0, 0.87);
	background-color:var(--primary);
}

main {
	background-image: url(/public/assets/images/img_background_7.webp);
	
}

.wikiTitle{
	font-family: 'wikiType', Arial, sans-serif;
}

/*================================================
					  Header
================================================*/

header {
	height: 100vh;
	width: 100vw;
	background-image: url(/public/assets/images/patreon-banner-2020.png);
	background-repeat:no-repeat;
	background-position: center center;
	background-size: cover;	
}

header {
	display: flex;
}

header #title{
	position: relative;
	place-self: center;
	place-content: center;
	justify-self: center;
	justify-content: center;
}