/*================================================
					  General
================================================*/

@import url("reset.css");

* {
	/* surface colours */
	--background: #f8f2e1;
	--parallax-speed: 10;

	--surface: #FBF1DA;
	--surface_variant: #eee5cf;
	--surface_variant_dark: #F7E9CB;

	--surface_dark: #2E2E2E;
	--surface_dark_variant: #353535;
	--surface_dark_variant_dark: #252525;

	--radius_small: 16px;

	--shadow: rgba(0, 0, 0, 0.012);

	--accent: #b37e65;
	--secondary_light: #9c684f;
	--secondary_variant: #A69480;
	--secondary_variant_light: #bda993;
	--secondary_variant_dark: #8b7d6d;
  	--selection: rgba(121, 80, 60, 0.234);
	--selection_variant: #8b7d6d61;

	--primary: #f8f2e1;
	--primary_variant:#e5dfd0;
	--primary_variant_light: #faf4e6;
	--primary_variant_dark: #E6DDC5;

	--breakout-margin: 7em;
}


/* wiki logo font */
@font-face {
	font-family: 'wikiType';
	src: url('/public/assets/fonts/Goudy_Medieval_Alternate.ttf') format('embedded-opentype'), /* Internet Explorer */
		 url('/public/assets/fonts/Goudy_Medieval_Alternate.ttf') format('woff2'),             /* Super Modern Browsers */
		 url('/public/assets/fonts/Goudy_Medieval_Alternate.ttf') format('woff'),              /* Pretty Modern Browsers */
		 url('/public/assets/fonts/Goudy_Medieval_Alternate.ttf') format('truetype'),          /* Safari, Android, iOS */
		 url('/public/assets/fonts/Goudy_Medieval_Alternate.ttf') format('svg');               /* Legacy iOS */
	font-display: swap;
}

/*================================================
					Dimensions
================================================*/

:root {
	/* heights, widths, and volume */
	--appbar_dimen: 48px;
	--layer_widget_dimen: 64px;
	--side_panel_width: 380px;
	--zindex_floating: 800;
	--zindex_overlay: 9998;

	/* padding */
	--padding_minimum: 8px;
	--padding_small: 12px;
	--padding_medium: 16px;
	--padding_large: 32px;

	/* border radius */
	--radius_minimum: 2px;
	--radius_tiny: 4px;
	--radius_small: 8px;
	--radius_medium: 12px;
	--radius_large: 16px;
	--radius_largest: 32px;
	--radius_button: var(--appbar_dimen);
	--radius_circle: 50%;
}

/*================================================
					  Fonts
================================================*/

body {
	line-height: 1.5;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
	font-weight: normal;
	color: rgba(0, 0, 0, 0.87);
	background-color: var(--background);
}

main {
	background-image: url(/public/assets/images/img_background.webp);
	
}

.wikiTitle{
	font-family: 'wikiType', Arial, sans-serif;
}

/*================================================
					  Header
================================================*/

header {
	height: 105vh;
	width: 100vw;
	background-image: url(/public/assets/images/patreon-banner-2020.png);
	background-repeat:no-repeat;
	background-position: center center;
	background-size: cover;	
	display: flex;
	position: relative;
	color: #fafafa;
	text-shadow: 0px 0px 25px black !important;
}
header #title{
	position: relative;
	place-self: center;
	place-content: center;
	justify-self: center;
	justify-content: center;
	margin: auto;
	font-size: clamp(4rem, 10vw, 6.5rem); 
	text-align: center;
	line-height: 1.1;
}

.parallax {
	animation: parallax linear; 
	animation-timeline: scroll();
}

/* scroll hint */
#scroll-hint {
	position: absolute;
	bottom: 10%;
	width: 100%;
	animation-name: fade-in;
	animation-duration: 2.5s;
	animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
@keyframes fade-in {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}
#scroll-hint p {
	width: fit-content;
	margin: auto;
	text-align: center;
	color:white !important;
	font-size: large;
	font-weight: 500;
}

@keyframes parallax {
	to {
		transform: translateY(calc(var(--parallax-speed) * 200px));
	}
}
  
/*================================================
				  Main content
================================================*/

.content {
	max-width: 700px;
  	padding: 7rem 2em;
  	margin: auto;
}

.shade {
	height: 5vh;
	position: absolute;
	width: 100%;
	z-index: 10;
	bottom: 0px;
	background: linear-gradient(#00000000, var(--background));
}

.content {
	z-index: 999;
}



/*================================================
				  	Statboxes
================================================*/

/* statbox grid */
.statbox-container {
	display: flex;
	position: relative;
	width: calc(100% + (var(--breakout-margin)) * 2);
	flex-wrap: wrap;
	margin: 1rem calc(-1 * var(--breakout-margin));
	gap: 1dvh;
	align-items: center;
}

.statbox {
	display: flex;
	box-shadow: 0px 0px 5px 5px var(--shadow);
	background-color: var(--primary_variant_light);
	width: fit-content;
	border-radius: var(--radius_small);
	padding: 12px;
	flex-grow: 1;
	flex-direction: column;
    justify-content: space-around;
	min-width: 150px;
	max-width: 300px;
	transition: all 100ms ease-in-out;
}

.statbox p {
	margin: 4px;
}

/* statbox title */
.statbox .title {
	display: flex;
    flex-direction: row;
	align-items: center;
	direction: rtl;
	width: fit-content;
	text-align: center;
}
.statbox .title span {
	margin: 4px;
}
.statbox .title h1 {
	margin-left: 4px;
}
.statbox .data {
	font-size: 2.5rem;
  	font-weight: bold;
	color: var(--accent);
}

.statbox .data .additional {
	font-size: medium !important;
	font-weight: normal !important;
	color: grey;
	margin-top: unset !important;
}

.statbox .data .main:has(+ p) {
	margin-bottom: 0px;
}

.statbox .diff {
	padding: 4px;
    padding-left: 8px;
	padding-right: 8px;
	width: fit-content;
	display: block;
	margin-top: 8px;
	border-radius: 12px;
	font-size: smaller;
}

.statbox .diff.up {
	background: #d9ffd9ad;
	border: 1.5px solid #7fc6a5;
}

.statbox .diff.down {
	background: #d9ffd9ad;
	border: 1.5px solid #7fc6a5;
}

.statbox .diff.up::before{
	content: "▲ ";
	color: #709c87;
}

.statbox .diff.down::before{
	content: "▼ ";
	color: #709c87;
}

/* if container has highlighted element, shrink the rest */
.statbox-container:has(> .highlight) > :not(.highlight) { 
	transform: scale(0.85);
}


@media only screen and (max-width: 900px) {
	* {
		--breakout-margin: 3em;
	}
}

@media only screen and (max-width: 800px) {

	.statbox {
		scale: 0.90;
	}
}

@media only screen and (max-width: 715px) {
	.statbox-container {
		width: 100% !important;
		margin: 0;
		padding: 0;
		margin-bottom: 2rem;
	}

	.statbox {
		width:  fit-content !important;
		max-width: unset !important;
	}

	.statbox-container >  :not(.highlight) {
		scale: 1.15 !important;
	}
	.statbox-container > .highlight {
		scale: 0.99;
		box-shadow: 0px 0px 5px 5px var(--accent);
		
	}
	.statbox-container {
		scale: 0.95;
	}

}

/*================================================
				  		Other
================================================*/


	/* 

	--primary_dark: #3E3E3E;
	--primary_dark_variant: #373737;

	--highlight_dark:#6B5F50;
	--highlight_light: #FFE893;

	--bubble_selection: rgba(84, 84, 84, 0.5);
	--error: #C2571B;
	--error_light: #cf5f1f;
	--error_dark: #DD8A5B;
	--delete_pastel: #d95c5c;
	--add_light: #aad67d;
	--add: #a0ca76;
	--add_dark: #84a861;
	--editing: #3e68ff8d;
	--editing_opaque: #3e68ff;
	--editing_opaque_dark: #3557d1;
	--editing_opaque_light: #5d80ff;
	--editing_outline: #263e97;
	--editing_outline_light: #3c53aa;
	--editing_outline_dark: #203377;
	--delete: rgba(186,43,69,1);
	--delete_light: rgb(207, 47, 76);
	--save: #5e8735;
	--save_light: #679638;
	--revert_light: #c6e8e8;;
	--revert: #bedcdc;
	--revert_dark: #accfcf;

	/* text colours */
	/* --text_loc_name: #33ff33;
	--text_link: rgba(138,90,68,1);
	--text_on_primary: black;
	--text_on_secondary: white;
	--text_tertiary: rgba(255, 255, 255, 0.5);
	--text_low_emphasis: #474747;

	/* misc colours */
	/* --divider: rgba(164, 163, 163, 0.30);
	--shadow: rgba(0, 0, 0, 0.35);
	--secondary: #8a5a44;
	--secondary_light: #9c684f;
	--secondary_variant: #A69480;
	--secondary_variant_light: #bda993;
	--secondary_variant_dark: #8b7d6d;
  	--selection: rgba(121, 80, 60, 0.234);
	--selection_variant: #8b7d6d61; */